{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}

{% block title %}Buyback{% endblock %}

{% block content %}

<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Ice and Fuel PI Buyback</h1>
        </div>
    </div>
</section>



<section class="container section-md">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert" style="text-align: center;">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Update:</span>
              Buyback rate has been reduced to 95% of the 5-day average, rather than 100% of the average, to ensure continued operation. Thanks for your business!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if parse_results and parse_results['bad_lines']|length > 0 %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">The following lines could not be parsed or are not a part of this buyback:</h4>
                <ul>
                    {% for bad_line in parse_results['bad_lines'] %}
                        <li>{{bad_line}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if parse_results and parse_results['results']|length > 0 %}
            <div class="row">
                <div class="col-md-6">
                    <h3>Contract to:</h3>
                    <b id="contract_target">Penny's Flying Circus</b>
                    <!-- Trigger -->
                    <button class="btn btn-xs" type="button" data-clipboard-text="Penny's Flying Circus">
                        <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                    </button>
                </div>
                <div class="col-md-6">
                    <h3>You will receive:</h3>
                    <b><span id="total_reward">{{ total_reward | commas }}</span> ISK</b>
                    <!-- Trigger -->
                    <button class="btn btn-xs" type="button" data-clipboard-text="{{ total_reward|int }}">
                        <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                    </button>
                </div>
            </div>
            <h2>Items to Sell</h2>
            <table class="table table-bordered table-hover">
                {% set vars = {'current_group': False} %}
                <tr>
                    <th>Qty</th>
                    <th>Item</th>
                    <th>Reward</th>
                </tr>
                {% for item in items if buyback_qty.get(item.item_id) > 0 %}
                <tr>
                    <td>
                        {{ buyback_qty.get(item.item_id)|commas }}
                    </td>
                    <td>{{ item.item.name }}</td>
                    <td><abbr title="{{(item.item.get_history_avg(pct=0.95)*buyback_qty.get(item.item_id)) | commas}} ISK">{{ (item.item.get_history_avg(pct=0.95)*buyback_qty.get(item.item_id))| humanize }} ISK</abbr></td>
                </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="col-md-6">
                    <h4>Total Volume:</h4>
                    <b>{{ total_volume | humanize }} m<sup>3</sup></b>
                </div>
            </div>
            {% endif %}
            <h2>What would you like to sell?</h2>
            <form id="formEntry" class="form-horizontal" method="post" action="{{ url('pgsus.views.buyback') }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea name="buyback_input" rows="15" style="width: 85%;" placeholder="Paste items to sell here (e.g., 1000 Robotics)">{{ buyback_input }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-md-push-1">
            <h2>Accepted Items</h2>
            <i>Pricing is 95% of the 5-day Jita average (Last Updated: {{ price_last_updated.strftime('%Y-%m-%d') }})</i>
            <table class="table table-bordered table-hover">
                {% set vars = {'current_group': False} %}
                {% for item in items %}
                    {% if vars['current_group'] != item.price_group: -%}
                    <tr>
                        <th colspan="2">{{ item.price_group }}</th>
                        {% if vars.update({'current_group': item.price_group}) %}{% endif %}
                    </tr>
                    {%- endif %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td><abbr title="{{item.item.get_history_avg(pct=0.95) | commas}} ISK">{{ item.item.get_history_avg(pct=0.95) | humanize }} ISK</abbr></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}