{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}
  
{% block title %}Seeding{% endblock %}

{% block content %}
<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Contract Seeding</h1>
        </div>
    </div>
</section>

<section class="container section-md">
      <div class="row">
        <div class="col-lg-12">
            <h3>Your Contracts:</h3>
            {% if seed_lists|length > 0 %}
            <ul>
            {% for list in seed_lists %}
                <li>{{ list.station.system.name }} &mdash; {{ list.name }} <i>({% if list.is_private %}Private{% else %}Public{% endif %})</i>  ({{ list.get_stock_count() }} / {{ list.min_qty }}) <a href="{{url('pgsus.views.contractseededit')}}?id={{list.id}}">Edit</a> | <a href="{{url('pgsus.views.contractseedview')}}?id={{list.id}}">View</a></li>
            {% endfor %}
            </ul>
            {% else %}
            <i>You haven't defined any seeding lists!</i>
            {% endif %}
            <div>
                <a href="{{ url('pgsus.views.contractseededit') }}">Add List!</a>
            </div>
            <h3>Seeding Contracts:</h3>
            {% if station_lists|length > 0 %}
                {% for station,lists in station_lists.items() %}
                <div class="row">
                    <div class="col-md-6">
                    <h4>{{ station }}</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>List Name</th>
                            <th width="20%">Quantity</th>
                            <th>Est. Seed Price</th>
                        </tr>
                    {% for list in lists %}
                        <tr>
                            <td><a href="{{url('pgsus.views.contractseedview')}}?id={{list.id}}">{{ list.name }}</a> </td>
                            <td class="{% if list.get_stock_count() < list.min_qty %}error{% elif list.get_stock_count() < list.min_qty*1.2 %}warning{% else %}success{% endif %}">({{ list.get_stock_count() }} / {{ list.min_qty }})</td>
                            <td><i>TBA</i></td>
                        </tr>
                    {% endfor %}
                    </table>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <i>None currently shared!</i>
            {% endif %}
        </div>
      </div>
</section>
{% endblock %}
