{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}
  
{% block title %}Contract Fits{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$('a.station-tab-link[data-toggle]').on("click", function (e) {
    var href = $(this).attr("href");

    history.pushState(null, null, href);

    var showForId = $(this).prop('id');

    $('a[id="' + showForId + '"').tab('show');
    $('.tab-pane').removeClass('active');
    $('.tab-pane[id="' + showForId + '"]').addClass('active');

    e.preventDefault();
});

  $(document).ready(() => {
    var url = window.location.href;
    if (url.indexOf("#") > 0){
      var activeTab = url.substring(url.indexOf("#") + 1);
      if (activeTab) {
        $('li.station-entry:not(.active) a[href="#'+activeTab+'"]').click();
      }
    }
  });
</script>
{% endblock %}
{% block content %}
<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Contract Fits</h1>
        </div>
    </div>
</section>

<section class="container section-md">
      <div class="row">
        <div class="col-lg-12">
            <h4>
                <a href="{{ url('pgsus.views.contractseededit') }}">Add Fit!</a>
            </h4>
            {% if station_lists|length > 0 %}
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" style="border-bottom: 0;">
                            {% for station,lists in station_lists %}
                                <li class="station-entry{% if loop.index == 1 %} active{% endif %}">
                                    <a class="station-tab-link" href="#content-{{ station|slugify }}" data-toggle="tab">{{ station }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <div class="tab-content clearfix">
                                {% for station,lists in station_lists %}
                                <div class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="content-{{ station|slugify }}">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>
                                                Fit Name
                                                <i><sup><a href="?export=json&slug={{ station|slugify }}">json</a></sup></i>
                                            </th>
                                            <th style="text-align: center;" width="20%" colspan="2">Quantity</th>
                                            <th>Priority</th>
                                            <th>Est. Seed Cost</th>
                                            <th>Last Checked</th>
                                        </tr>
                                    {% for list in lists %}
                                        <tr>
                                            <td>
                                                <a href="{{url('pgsus.views.contractseedview')}}?id={{list.id}}">{{ list.name }}</a>
                                                {% if list.char_id == char_id or is_admin %}
                                                (<a href="{{url('pgsus.views.contractseededit')}}?id={{list.id}}">Edit</a>)
                                                {% endif %}
                                            </td>
                                            <td align="center" class="{% if list.current_qty < list.min_qty %}error{% elif list.current_qty < list.min_qty*1.2 %}warning{% else %}success{% endif %}">
                                                {{ list.current_qty }} / {{ list.min_qty }}
                                            </td>
                                            <td align="center" class="{% if list.current_qty < list.min_qty %}error{% elif list.current_qty < list.min_qty*1.2 %}warning{% else %}success{% endif %}">
                                                <abbr title="PH corp contracts">{{ list.corp_qty }}C</abbr>, <abbr title="Alliance contracts">{{ list.alliance_qty }}A</abbr>
                                            </td>
                                            <td>{{ list.get_priority() }}</td>
                                            <td>
                                                {% if list.estd_price > 0 %}
                                                <abbr title="Assumes hulls are built locally.">{{ list.estd_price | humanize }} ISK</abbr>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <small><time class="timeago" datetime="{{ list.qty_last_modified|timeago }}">{{ list.qty_last_modified }}</time></small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
            {% else %}
            <i>None currently shared!</i>
            {% endif %}
        </div>
      </div>
</section>
{% endblock %}
