{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}
  
{% block title %}Upcoming Extractions{% endblock %}

{% block extra_css %}
<style type="text/css">
    .ore-type {
        border-radius:0.25em;
        padding: 0.2em 0.6em 0.3em;
        font-weight: bold;
        font-size: 75%;
        text-align: center;
        color: #fff;
    }
    .ore-type-r64 {
        background-color: #ee5f5b;
    }

    .ore-type-r32 {
        background-color: #62c462;
    }
    .ore-type-r16,
    .ore-type-r8,
    .ore-type-r4 {
        background-color: #5bc0de
    }

    .ore-type-ore {
        background-color: #3a3f44;
    }

    body {
        background-color: #BBB;
        font-weight: bold;
        color: #333;
    }

    .panel-default {
        background-color: #AAA;
        border-color: transparent;
     }

     .panel-default>.panel-heading{
        border-color: transparent;
     }

     h4.name {
        font-weight: bold;
     }

     .primary span {
        color: #000;
        font-weight: bold;
     }

     .info-list-border>li {
        border-bottom: 1px solid #555;
     }

     .warning {
        background-color: #ecd06f;
        padding:1em;
        margin-bottom:0.75rem;
        font-weight: bold;
        border-radius:2px
     }

     .waypoint {
        position: absolute;
        top: 2px;
        left: 20px;
        color: orange;
     }

</style>
{% endblock %}
{% block content %}

<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Upcoming Extractions</h1>
        </div>
    </div>
</section>

<section class="container section-md">
      <div class="row">
        <div class="col-lg-12">
            <div class="row">
            {% for m in moon_list %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading bg-primary" style="text-align: center;">
                            <h4 class="name">
                                <a style="color: #FFF;text-decoration:underline;" target="_blank" href="{{ m.structure.station.system.evemaps() }}">{{ m.name }}</a>
                                {% if show_waypoint %}
                                <a title="Add Waypoint" href="javascript:void(0)" class="waypoint js-addWaypoint" data-waypoint="{{ m.structure.station_id }}">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </h4>
                            <small><i>
                                <b>Chunk Time:</b> <span>{{ m.chunk_days }} days</span>
                                <br/><b>Chunk Arrival:</b> <span>{{ m.extraction.chunk_arrival_time }} UTC</span>
                                <br/><b>Self-Destructs:</b> <span>{{ m.extraction.natural_decay_time }} UTC</span>
                            </i></small>
                        </div>
                        <div class="panel-body" style="position: relative; text-align: center;">
                            {% if m.is_jackpot %}
                                <div class="ribbon bg-warning" style="text-align: center;">¡¡JACKPOT!!</div>
                            {% endif %}
                            {% if m.is_popped %}
                            <div class="success">
                                Mining Active!
                                <br/>
                                <small><i>
                                    Fired: <time class="timeago" datetime="{{ m.extraction.chunk_arrival_time|timeago }}">{{ m.chunk_arrival_time }}</time>
                                    <br/>Expiration: <time class="timeago" datetime="{{ m.expiration_time|timeago }}">{{ m.expiration_time }}</time>
                                </i></small>
                            </div>
                            {% elif m.is_poppable %}
                            <div class="warning">
                                Ready to Pop!
                                <small><i>
                                    <br/>Contact a Landscaper to 'splode.
                                    <br/>Self-Destructs <time class="timeago" datetime="{{ m.extraction.natural_decay_time|timeago }}">{{ m.extraction.natural_decay_time}}</time>
                                </i></small>
                            </div>
                            {% else %}
                            <div class="error">
                                Ready <time class="timeago" datetime="{{ m.extraction.chunk_arrival_time|timeago }}">{{ m.extraction.chunk_arrival_time }}</time>
                                <small><i>
                                    <br/>Self-Destructs <time class="timeago" datetime="{{ m.extraction.natural_decay_time|timeago }}">{{ m.extraction.natural_decay_time}}</time>
                                </i></small>
                            </div>
                            {% endif %}
                            <ul class="info-list md-list primary info-list-border">
                                <li>
                                    <ul class="list-inline">
                                    {% for type in m.ore_types %}
                                        <li class="ore-type ore-type-{{type|slugify}}">{{ type }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% if m.is_popped and m.remaining_value %}
                                <li>
                                    {% if m.remaining_pct >= 0.6 %}
                                    <button class="btn btn-success" style="cursor: default;">Lots of ores!</button>
                                    {% elif m.remaining_pct >= 0.3 %}
                                    <button class="btn btn-warning" style="cursor: default;">Running low!</button>
                                    {% else %}
                                    <button class="btn btn-danger" style="cursor: default;">Almost out!</button>
                                    {% endif %}
                                </li>
                                {% endif %}
                                <li>
                                    <span>
                                        {% if m.remaining_value %}
                                        {{ m.remaining_value|humanize }}
                                        {% else %}
                                        <i>Unknown</i>
                                        {% endif %}
                                        ISK
                                    </span> remaining
                                </li>
                                <!--
                                <li>
                                    Avg. of <abbr title="{{ m.ship_m3_tooltip}}"><span>{{ m.remaining_isk_per_m3|commas(0) }} ISK/m<sup>3</sup></span></abbr></i>
                                </li>-->
                                {% for ore in m.ores %}
                                <li style="text-align: center;">
                                    <span style="color: #FFF;" class="ore-type ore-type-{{ ore.type|slugify }}">{{ ore.type }}</span>
                                    {% if m.is_popped %}
                                        <small>
                                            {% if ore.remaining_pct >= 0.6 %}
                                            <button title="{{ ore.remaining_volume|humanize }} m3" class="ore-type btn btn-success" style="font-size: 10px;margin-right:3px;cursor: default;">Lots</button>
                                            {% elif ore.remaining_pct >= 0.3 %}
                                            <button title="{{ ore.remaining_volume|humanize }} m3" class="ore-type btn btn-warning" style="font-size: 10px;margin-right:3px;cursor: default;">Low</button>
                                            {% else %}
                                            <button title="{{ ore.remaining_volume|humanize }} m3" class="ore-type btn btn-danger" style="font-size: 10px;margin-right:3px;cursor: default;">Out</button>
                                            {% endif %}
                                        </small>
                                    {% endif %}
                                    <br/>
                                    {{ (ore.pct*100)|commas(0) }}% {{ ore.ore.name }}
                                    <abbr title="{{ ore.ship_m3_tooltip }}"><small><span>{{ ore.remaining_isk_per_m3|commas(0) }} isk/m<sup>3</sup></span></small></abbr>
                                    <br/>
                                    <small>
                                    {% if m.is_popped %}
                                        {{ ore.remaining_volume|humanize }} / {{ ore.total_volume|humanize }} m<sup>3</sup>
                                    {% else %}
                                        Ttl m<sup>3</sup>: {{ ore.total_volume|humanize }}
                                    {% endif %}
                                    </small>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if loop.index and loop.index % 3 == 0 %}
                    <div class="clearfix">

                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
      </div>
</section>
{% endblock %}
