{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}

{% block title %}Fuel Blocks{% endblock %}

{% block content %}

<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Fuel Block Purchase</h1>
        </div>
    </div>
</section>

<section class="container section-md">
    <div class="row">
        <div class="col-md-6 col-md-push-1">
            {% if total_reward > 0 %}
            <div class="row">
                <div class="col-md-6">
                    <h3>Contract to:</h3>
                    <b id="contract_target">Penny's Flying Circus</b>
                    <!-- Trigger -->
                    <button class="btn btn-xs" type="button" data-clipboard-text="Penny's Flying Circus">
                        <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                    </button>
                </div>
                <div class="col-md-6">
                    <h3>You will pay:</h3>
                    <b><span id="total_reward">{{ total_reward | commas }}</span> ISK</b>
                    <!-- Trigger -->
                    <button class="btn btn-xs" type="button" data-clipboard-text="{{ total_reward|int }}">
                        <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                    </button>
                </div>
                <div class="col-md-12">
                    <h3>Contract Description:</h3>
                    <b>{{ delivery_date.strftime('%b %d') }} ({{ main_char_name }})</b>
                    <button class="btn btn-xs" type="button" data-clipboard-text="{{ delivery_date.strftime('%b %m') }} ({{ main_char_name }})">
                        <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <i>Please create a new <b>Item Exchange</b> contract in <b>{{ delivery_system_name }}</b> with the above details! You will need to ensure that you have at least one item in your destination citadel.</i>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#fuelblock-contract-how"
                            onclick="$('#fuelblock-contract-gif').attr('src', '');$('#fuelblock-contract-gif').attr('src', $('#fuelblock-contract-gif').data('src'))">
                      How?
                    </button>
                </div>
            </div>
            <div class="modal fade" id="fuelblock-contract-how" tabindex="-1" role="dialog" aria-labelledby="fuelblock-contract-how-label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="fuelblock-contract-how-label">Creating a Fuel Block Contract
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                          <img style="border:1px solid #000;" id="fuelblock-contract-gif" data-src="{{ STATIC_URL }}pgsus/img/fuelblock-contract-how.gif" src="#" width="660" height="312" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <h2>Fuel Block Purchasing</h2>
            <i>Pricing is the 5-day Jita average (Last Updated: {{ price_last_updated.strftime('%Y-%m-%d') }})</i>
            <form method="post" action="{{ url('pgsus.views.fuel') }}" class="form-horizontal">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Qty</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    {% for item in fuel_blocks %}
                        <tr>
                            <td style="width:90px;">
                                <input type="text" class="js-formatNumber" name="qty-{{item.id}}" value="{% if qty %}{{qty[item.id]}}{% endif %}" style="width:80px;" /></td>
                            <td>{{ item.name }}</td>
                            <td><abbr title="{{item.get_history_avg() | commas}} ISK">{{ item.get_history_avg() | humanize }} ISK</abbr></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="form-group">
                    <label class="col-sm-3 col-form-label" for="main_char_name">Main Character:</label>
                    <div class="col-sm-1">
                        <input type="text" name="main_char_name" id="main_char_name" value="{{main_char_name}}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-form-label" for="delivery_date">Delivery Date:</label>
                    <div class="col-sm-1">
                        <input type="date"
                               name="delivery_date"
                               id="delivery_date"
                               value="{{delivery_date.strftime('%Y-%m-%d')}}" required="required"
                               min="{{min_date.strftime('%Y-%m-%d')}}"
                               max="{{max_date.strftime('%Y-%m-%d')}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-form-label" for="delivery_system">Delivery System:</label>
                    <div class="col-sm-1">
                        <select name="delivery_system" id="delivery_system" required="required" class="js-select2 input-lg">
                            <option value="">Select One</option>
                            {% for region in all_systems.keys() %}
                            <optgroup label="{{region}}">
                                {% for system in all_systems[region] %}
                                <option value="{{system}}"{%if delivery_system_name==system%}selected{% endif %}>{{system}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <i>Note: A delivery fee of <b>{{ 5000000|humanize }}</b> ISK per <b>{{ 25000|humanize }}</b> fuel blocks will be assessed if contracts are not created in <b>B-9C24</b>.</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}