{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}
  
{% block title %}Infrastructure Hubs{% endblock %}

{% block content %}
<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Infrastructure Hubs</h1>
        </div>
    </div>
</section>

<section class="container section-md">
    <div class="row">
        <div class="col-lg-12">
            <form id="formEntry" class="form-horizontal" method="get" action="{{ url('pgsus.views.ihubs') }}">
                <div class="form-group">
                  <label class="col-sm-2 col-form-label" for="region">Region</label>
                  <div class="col-sm-8">
                      <select name="region" id="region" class="js-select2 input-lg" tabindex="-1" aria-hidden="true">
                            <option value="">Select One</option>
                            {% for r in regions %}
                            <option value="{{r}}"{% if region == r %} selected{% endif %}>{{r}}</option>
                            {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-form-label" for="region">Constellation</label>
                  <div class="col-sm-8">
                      <select name="constellation" id="constellation" class="js-select2 input-lg" tabindex="-1" aria-hidden="true">
                            <option value="">Select One</option>
                            {% for c in constellations %}
                            <option value="{{c}}"{% if constellation == c %} selected{% endif %}>{{c}}</option>
                            {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-form-label" for="system">System</label>
                  <div class="col-sm-8">
                      <select name="system" id="system" class="js-select2 input-lg" tabindex="-1" aria-hidden="true">
                            <option value="">Select One</option>
                            {% for s in systems %}
                            <option value="{{s}}"{% if system == s %} selected{% endif %}>{{s}}</option>
                            {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-form-label" for="type">Type</label>
                  <div class="col-sm-8">
                      <select name="type" id="type" class="js-select2 input-lg" tabindex="-1" aria-hidden="true">
                            <option value="">Select One</option>
                            {% for t in types %}
                            <option value="{{t}}"{% if type == t %} selected{% endif %}>{{t}}</option>
                            {% endfor %}
                      </select>
                  </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
            {% if results|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>System</th>
                        <th>Region</th>
                        <th>Corp</th>
                        <th>Upgrades</th>
                        <th>Last Updated</th>
                    </tr>
                    {% for r in results %}
                    <tr>
                        <td>
                            {{ r.system }}
                        </td>
                        <td> {{ r.region }} </td>
                        <td> {{ r.corp_ticker }}</td>
                        <td>{% for upgrade in r.upgrades %}
                                {% if 'Online' in upgrade %}
                                    <div style="font-weight: bold;">{{ upgrade|safe }}</div>
                                {% else %}
                                    <div>{{ upgrade|safe }}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> <time class="timeago" datetime="{{ r.last_updated|timeago }}">{{ r.last_updated }}</time></td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <i>No IHubs Found!</i>
            {% endif %}
        </div>
      </div>
</section>
{% endblock %}
