{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}

{% block title %}Pricer{% endblock %}

{% block content %}

<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Pricing Calculator</h1>
        </div>
    </div>
</section>



<section class="container section-md">
    <div class="row">
        <div class="col-md-6">
            {% if bad_lines|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">The following lines could not be parsed:</h4>
                    <ul>
                        {% for line in bad_lines %}
                            <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <h2><a data-toggle="collapse" href="#formEntry" aria-expanded="False"><i class="fa fa-chevron-right"></i>Desired Items</a></h2>
            <form id="formEntry" class="collapse form-horizontal{% if items|length == 0 %} in{% endif %}" method="post" action="{{ url('pgsus.views.pricer') }}">
                {{ csrf() }}
                <textarea name="text_input" rows="10" style="width: 100%;" placeholder="Paste desired items here (e.g., 1000 Tritanium)">{{ text_input }}</textarea>
                <div class="form-group">
                    <label class="col-sm-7 col-form-label" for="compress_ores">Compress Mineral Imports:</label>
                    <div class="col-sm-1">
                        <input id="compress_ores" type="checkbox"{% if compress_ores %} checked="checked"{% endif %} name="compress_ores" value="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-7 col-form-label" for="reprocess_pct">Reprocess %:</label>
                    <div class="col-sm-1">
                        <input id="reprocess_pct" value="{{ reprocess_pct }}" type="number" max="100" min="50" step="0.1" name="reprocess_pct" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-7 col-form-label" for="multiplier">Multiplier:</label>
                    <div class="col-sm-1">
                        <input id="multiplier" type="number" min="1" name="multiplier" value="{{ multiplier }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-7 col-form-label" for="buy_all_tolerance">Buy-All Tolerance %:</label>
                    <div class="col-sm-1">
                        <input id="buy_all_tolerance" type="number" min="0" max="100" step="1" name="buy_all_tolerance" value="{{ buy_all_tolerance }}"/>
                    </div>
                </div>
                <div class="form-group">
                      <label class="col-sm-2 col-form-label" for="destination_station">Destination station:</label>
                      <div class="col-sm-8">
                          <select name="destination_station" id="destination_station" class="js-select2 input-lg" required="required">
                              <option value=""></option>
                              {% for sta in stations %}
                              <option value="{{sta.id}}"{% if sta.z_destination_selected %} selected{% endif %}>{{ sta.get_display_name() }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                <div class="form-group">
                      <label class="col-sm-2 col-form-label" for="source_stations">Purchase Stations:</label>
                      <div class="col-sm-8">
                          <select name="source_stations" id="source_stations" class="js-select2 input-lg" multiple="multiple">
                              {% for sta in stations %}
                              <option value="{{sta.id}}"{% if sta.z_source_selected %} selected{% endif %}>{{ sta.get_display_name() }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
            {% if compressed_minerals %}
            <div class="col-md-6">
                <h3>Mineral Breakdown</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Mineral</th>
                        <th>Desired</th>
                        <th>Fulfilled</th>
                        <th>Jita Price</th>
                        <th>Compressed Price</th>
                    </tr>
                    {% for m in compressed_minerals: %}
                    <tr>
                        <th>{{ m.name }}</th>
                        <td>{{ m.z_desired_qty|commas }}</td>
                        <td>
                            <span class="{% if m.z_desired_qty > m.z_fulfilled_qty %}neg{% else %}pos{% endif %}">
                                {{ m.z_fulfilled_qty|commas }}
                                <br/>
                                ({{ (m.z_fulfilled_qty - m.z_desired_qty)|commas(0, True) }})
                            </span>
                        </td>
                        <td>{{ m.sell_fivepct_price|commas(2) }}</td>
                        <td>
                            <span class="{% if mineral_value_ratio > 1 %}neg{% else %}pos{% endif %}">
                                {{ (m.sell_fivepct_price * mineral_value_ratio)|commas(2) }}
                                <br/>
                                ({{ (m.sell_fivepct_price * (mineral_value_ratio - 1))|commas(2, True) }})
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <td>
                            {{ total_mineral_price|humanize }}
                        </td>
                        <td>
                            <span class="{% if mineral_value_ratio > 1 %}neg{% else %}pos{% endif %}">
                                {{ (total_mineral_price * mineral_value_ratio)|humanize }}
                                <br/>
                                ({{ (total_mineral_price*(mineral_value_ratio-1))|humanize(True) }})
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}

        {% if items_list|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Cost Summary</h3>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="align-right hidden-xs">Volume</th>
                                    <td class="align-right hidden-xs">{{ total_volume|commas(2) }} m<sup>3</sup></td>
                                </tr>
                                <tr>
                                    <th class="align-right">Shipping</th>
                                    <td class="align-right">{{ total_shipping|commas(2) }}</td>
                                </tr>
                                <tr>
                                    <th class="align-right hidden-xs">Grand Total (Buy All)</th>
                                    <td class="align-right">{{ (total_shipping+total_worst)|commas(2) }}</td>
                                </tr>
                                <tr>
                                    <th class="align-right">Grand Total (Optimal)</th>
                                    <td class="align-right">{{ total_price_with_shipping|commas(2) }}</td>
                                </tr>
                            </table>
                        </div>
                        {% if has_unfulfilled %}
                        <div class="col-md-6">
                            <h3>Could Not Fulfill</h3>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Item</th>
                                    <th class="align-right">Qty Needed</th>
                                    <th class="align-right">Qty Missing</th>
                                </tr>
                                {% for item in items_list if item.z_qty_remaining > 0 %}
                                    <tr>
                                        <th>{{ item.name }}</th>
                                        <td class="align-right">{{ item.z_qty_needed|commas }}</td>
                                        <td class="align-right">{{ item.z_qty_remaining|commas }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>


                {% for sname, orders in station_orders.items() %}
                <div class="form-group">
                    <h3>
                        {{ sname }}
                        {% if orders['last_updated'] %}
                            <i>
                                <small>
                                (Last Updated: <time class="timeago" datetime="{{orders['last_updated']|timeago}}">{{ orders['last_updated'].last_updated }}</time>)
                                </small>
                            </i>
                        {% endif %}
                        <br/>
                        <button class="btn btn-xs" type="button" data-clipboard-text="{{ orders['multibuy_all'] }}">
                            Multibuy All
                        </button>

                        <button class="btn btn-xs" type="button" data-clipboard-text="{{ orders['multibuy_best'] }}">
                            Multibuy Only Best
                        </button>
                    </h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Item</th>
                            <th class="align-right">Qty</th>
                            <th class="align-right hidden-xs">Volume</th>
                            <th class="align-right">Total<span class="hidden-xs"> (Buy All)</span></th>
                            <th class="align-right hidden-xs"><abbr title="Values marked green save at least 2% if purchasing individual sell orders.">Total (Optimal)</abbr></th>
                        </tr>

                        {% for order_list in orders['orders'] %}
                            <tr>
                                <th>{{ order_list.item_name }}</th>
                                <td class="align-right">{{ order_list.total_quantity|commas }}</td>
                                <td class="align-right hidden-xs">{{ (order_list.total_volume)|commas }} m<sup>3</sup></td>
                                <td class="align-right">
                                    <a href="#" data-toggle="modal" data-target="#modal-{{ order_list.station_id }}-{{ order_list.item_id }}">
                                        {{ order_list.total_price_multibuy|commas }}
                                    </a>
                                </td>
                                <td class="align-right hidden-xs{% if not order_list.multibuy_ok %} buy-best{% endif %}">{{ order_list.total_price_best|commas }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class=""></td>
                            <th class="align-right">Subtotal</th>
                            <th class="align-right hidden-xs">{{ orders['total_volume']|commas }} m<sup>3</sup></th>
                            <th class="align-right">{{ orders['total_price_multibuy']|commas }}</th>
                            <th class="align-right hidden-xs">{{ orders['total_price_best']|commas }}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="hidden-xs"></td>
                            <th class="align-right">Shipping</th>
                            <th class="align-right">{{ orders['total_shipping']|commas }}</th>
                            <th class="align-right">{{ orders['total_shipping']|commas }}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="hidden-xs"></td>
                            <th class="align-right">Total</th>
                            <th class="align-right">{{ (orders['total_shipping']+orders['total_price_multibuy'])|commas }}</th>
                            <th class="align-right">{{ orders['total_price_with_shipping']|commas }}</th>
                        </tr>
                    </table>
                </div>
                {% endfor %}

                <h3>Totals</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Item</th>
                        <th class="align-right">Qty</th>
                        <th class="align-right hidden-xs">Volume</th>
                        <th class="align-right">Total<span class="hidden-xs"> (Buy All)</span></th>
                        <th class="align-right hidden-xs">Total (Optimal)</th>
                    </tr>

                    {% for item in items_list %}
                        <tr>
                            <th>{{ item.name }}{% if item.z_qty_remaining > 0 %}<br/><small>** Couldn't Fulfill All!! **</small>{% endif %}</th>
                            <td class="align-right">{{ item.z_qty|commas }}{% if item.z_qty_remaining > 0 %}<br/><small>({{ item.z_qty_remaining|commas }} left)</small>{% endif %}</td>
                            <td class="align-right hidden-xs">{{ (item.z_ttl_volume)|commas }} m<sup>3</sup></td>
                            <td class="align-right">{{ item.z_ttl_price_multibuy|commas }}</td>
                            <td class="align-right hidden-xs">{{ item.z_ttl_price_best|commas }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class=""></td>
                        <th class="align-right">Subtotal</th>
                        <th class="align-right hidden-xs">{{ total_volume|commas }} m<sup>3</sup></th>
                        <th class="align-right">{{ total_worst|commas }}</th>
                        <th class="align-right hidden-xs">{{ total_best|commas }}</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="hidden-xs"></td>
                        <th class="align-right">Shipping</th>
                        <th class="align-right">{{ total_shipping|commas }}</th>
                        <th class="align-right">{{ total_shipping|commas }}</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="hidden-xs"></td>
                        <th class="align-right">Total</th>
                        <th class="align-right">{{ (total_shipping+total_worst)|commas }}</th>
                        <th class="align-right">{{ total_price_with_shipping|commas }}</th>
                    </tr>
                </table>

            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block modals %}
    {% for sname, orders in station_orders.items() %}
        {% for o in orders['orders']: %}
            <div class="modal fade" id="modal-{{  o.station_id }}-{{ o.item_id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Market for {{ o.item_name }} in {{ sname }} (Need {{ o.total_quantity|commas }} Items)</h4>
                        </div>
                        <div class="modal-body modal-body-scroll">
                            <h3>Buy-All Points</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th class="align-right">Quantity</th>
                                    <th class="align-right">Price</th>
                                    <th class="align-right">Total</th>
                                    <th>Copy</th>
                                </tr>
                                {% for buy_all in o.get_buy_points() %}
                                <tr>
                                    <td class="align-right">{{ buy_all['qty']|commas }}</td>
                                    <td class="align-right">{{ buy_all['price']|commas }} ISK</td>
                                    <td class="align-right">{{ buy_all['total']|commas }} ISK</td>
                                    <td>
                                        <button class="btn btn-xs" type="button" data-clipboard-text="{{ o.item_name }} x{{ buy_all['qty'] }}">
                                            <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy to clipboard">
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <h3>Orders</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Shipping</th>
                                    <th>Total</th>
                                </tr>
                                {% for order in o.orders %}
                                <tr>
                                    <td class="align-right">
                                        <div>{{ order.volume_remaining|commas }}</div>
                                        {% if order.z_order_qty > 0 %}
                                        <div><abbr title="Quantity to Purchase">{{ order.z_order_qty|commas }}</abbr></div>
                                        {% endif %}
                                    </td>
                                    <td class="align-right">
                                        <div>{{ order.price|commas }} ISK</div>
                                        {% if order.z_order_qty > 0 %}
                                            <div><abbr title="Purchase Cost">{{ (order.price*order.z_order_qty)|commas }} ISK</abbr></div>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.z_shipping > 0 %}
                                            {{ order.z_shipping|commas }} ISK
                                            {% if order.z_order_qty > 0 %}
                                            <div><abbr title="Total Shipping">{{ (order.z_order_qty*order.z_shipping)|commas }}</abbr></div>
                                            {% endif %}
                                        {% else %}
                                        <i>N/A</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div>{{ (order.price+order.z_shipping)|commas }} ISK</div>
                                        {% if order.z_order_qty > 0 %}
                                            <div><abbr title="Purchase Cost">{{ ((order.price+order.z_shipping)*order.z_order_qty)|commas }} ISK</abbr></div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endfor %}
    {% endfor %}
{% endblock %}