{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}
  
{% block title %}Moon Refineries{% endblock %}

{% block content %}
<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-sm">
            <h1 class="top-title">Moon Refineries</h1>
        </div>
    </div>
</section>

<section class="container section-md">
    <div class="row">
        <div class="col-lg-12">
            <a role="button" data-toggle="collapse" aria-expanded="{% if error_lines%} true{% else %}false{% endif %}" aria-controls="#bulk-update-moon" href="#bulk-update-moon">
                Update Moon Comps
            </a>
            {% if error_lines|length > 0 %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in error_lines %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="collapse{% if error_lines%} in{% endif %}" id="bulk-update-moon">
                <form method="post" action="{{ url('pgsus.views.mooncomp') }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                    <div class="form-group">
                        <label class="form-label" for="moon-comps">Moon Input</label>
                        <textarea placeholder="1025833468663	Chromite	26%	Flawless Arkonor	31%	Loparite	21%	Xenotime	23%	1
1025833794151	Brilliant Gneiss	19%	Dazzling Spodumain	21%	Sperrylite	20%	Xenotime	40%	1" class="form-control" rows="15" cols="30" id="moon-comps" name="moon_comps">{{moon_comps}}</textarea>
                    </div>

                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container section-md">
      <div class="row">
        <div class="col-lg-12">
            {% if structures|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Drill Online</th>
                        <th>Chunking</th>
                        <th>Extract Time</th>
                        <th>Chunk Time</th>
                        <th>Decay Time</th>
                    </tr>
                    {% for s in structures %}
                    <tr>
                        <td>
                            {{ s.station.name }}
                            <button class="btn btn-xs" type="button" data-clipboard-text="{{ s.station.name }}">
                                <img src="{{ STATIC_URL }}pgsus/img/clippy.svg" width="13" title="Copy Day">
                            </button>
                            {% if add_waypoint %}
                            <small><a href="javascript:void(0)" class="js-addWaypoint" data-waypoint="{{ s.station.id }}">Add Waypoint</a></small>
                            {% endif %}
                            <br/>
                            <small>
                                <a role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#chunk-form-{{ s.id }}" href="#chunk-form-{{ s.id }}">
                                    Next Chunk: {{ s.z_next_chunk_time }}
                                    ({{ s.z_cycle_time }} days)
                                </a>

                                <div class="collapse" id="chunk-form-{{ s.id }}">
                                    <form method="post">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <input type="hidden" name="structure_id" value="{{ s.id }}"/>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label for="next_date_override_{{s.id}}">Next Date Override</label>
                                                <input   class="form-control" id="next_date_override_{{s.id}}" type="datetime-local" name="next_date_override" value="{{ s.z_config.next_date_override|timeago(false) }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label for="chunk_time_override_{{s.id}}">Cycle Day Override</label>
                                                <input class="form-control" id="chunk_time_override_{{s.id}}" type="number" min="1" max="56" step="1" name="chunk_time" value="{{ s.z_config.chunk_days }}" />
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn_primary">Save</button>
                                    </form>
                                </div>
                            </small>
                        </td>
                        <td style="text-align: center;">
                            {% if s.z_online %}YES{% else %}NO{% endif %}
                        </td>
                        <td style="text-align: center;" class="{% if s.z_not_extracting %}error{% endif %}">
                            {% if s.z_not_extracting %}NO{% else %}YES{% endif %}
                        </td>
                        {% if s.z_moon_info %}
                        <td>
                            {{ s.z_moon_info.extraction_start_time }}<br/>
                            <small><time class="timeago" datetime="{{s.z_moon_info.extraction_start_time|timeago}}">{{ s.z_moon_info.extraction_start_time}}</time></small>
                        </td>
                        <td>
                            {{ s.z_moon_info.chunk_arrival_time }}<br/>
                            <small><time class="timeago" datetime="{{s.z_moon_info.chunk_arrival_time|timeago}}">{{ s.z_moon_info.chunk_arrival_time}}</time></small>
                        </td>
                        <td>
                            {{ s.z_moon_info.natural_decay_time }}<br/>
                            <small><time class="timeago" datetime="{{s.z_moon_info.natural_decay_time|timeago}}">{{ s.z_moon_info.natural_decay_time}}</time></small>
                        </td>
                        {% else %}
                        <td colspan="3">
                            <i>Not Applicable</i>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <i>No Structures Found!</i>
            {% endif %}
        </div>
      </div>
</section>
{% endblock %}
