{% extends "web_template.html" %}
{% import 'macros/common.html' as common %}

{% block content %}

<section class="bg-19 bg-center bg-cover">
    <div>
        <div class="container section-lg">
            <h1 class="top-title">Penny's Flying Circus</h1>
        </div>
    </div>
</section>

<section class="container section-lg">
    <div class="row">
        <div class="col-lg-12">
            {% if login_prompt %}
            <div class="alert alert-warning">
              <strong>ALERT:</strong> You must log in in order to access that page!
              <a href="{{ oauth_authorize_url }}">
                <img src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&h=30" width="195" height="30"/>
              </a>
            </div>
            {% endif %}
            {% if thankyou %}
			<div class="alert alert-info">
                <h4 class="alert-heading">Thank you for your donation!</h4>
				<p>All costs are currently paid out of KenGeorge's pocket for this website, so your donations are greatly appreciated!</p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>

            </h2>
        </div>
    </div>
</section>
{% endblock %}
